.container {
    position: fixed;
    z-index: 99;
    width: 100vw;
    padding: 1em 0;
    background: white;
}

.container a {
    position: relative;
    font-size: 150%;
	font-weight: 300;
    color: black;
}

.container a:hover {
	text-decoration: none;
}

/* 
.container a::after {
    display: block;
    content: '';
    width: 100%;
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 2px;
    background-color: black;
    /* background: rgb(218, 50, 52); 
    opacity: 0;
    transition: .25s all;
}

.container a:hover {
    text-decoration: none;
}

.container a:hover::after {
    bottom: -1px;
    opacity: 1;
}


.nav {} */