html,
body {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.container {
  margin: 0 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.noisy {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.58);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.1px);
  -webkit-backdrop-filter: blur(8.1px);
  border: 1px solid rgba(255, 255, 255, 0.23);
}

.button {
  /* From https://css.glass */
  background: rgba(154, 0, 0, 0.8);
  border-radius: 10px;
  border: 1px solid transparent;
  cursor: pointer;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.9px);
  -webkit-backdrop-filter: blur(11.9px);
  display: inline-block;
  padding: .5em 1em;
  margin-top: .5em;
  font-size: 1.2rem;
  font-weight: 300;
  height: auto;
  color: white;
  white-space: nowrap;
  z-index: 1100 !important;
}

.button:hover {
  text-decoration: none;
  color: white;
}

.footer {
  display: block;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: auto;
  text-align: center;
}

.footer p {
  pointer-events: none;
  font-weight: 400;
}

.footer a {
  text-decoration: underline;
}

a {
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: none;
  color: #DA3237;
}

@media screen and (max-width: 768px) {
  .button {
    display: block;
    text-align: center;
  }
}

input[type="text"],
input[type="date"],
input[type="password"],
input[type="number"],
input[type="email"],
textarea,
select {
  background: rgba(255, 255, 255, 0.38);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.1px);
  -webkit-backdrop-filter: blur(8.1px);
  border: 1px solid rgba(255, 255, 255, 0.23);
  outline: none;
  font-size: 1.3rem;
  padding: .5em;
  font-weight: 400;
  width: 100%;
  border-radius: 5px;
  transition: all .25s ease-in-out;
  margin: .1em 0;
}

input[type="text"].small,
input[type="password"].small,
input[type="number"].small,
input[type="email"].small,
textarea.small,
select.small {
  font-size: 1rem;
}

.group {
  margin: 2em 0;
}


.group label {
  top: .1em;
  left: .2em;
  position: relative;
  color: #000;
}

input[type="text"]:focus~label {
  color: #000;
}

.form-box {
  position: relative;
  padding-top: 50px;
  width: 100%;
}

.form-box h1 {
  text-align: center;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus {

}

select[multiple] option:focus {
  text-decoration: none;
  background: black;
}


.navContainer {
  position: absolute;
  width: 100vw;
  height: 50px;
  display: block;
  z-index: 1200;
  top:0;
  left: 0;
}
.navContainer .nav {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: auto;
  height: 100%;
}

.navContainer .nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navContainer .nav ul li {
  display: inline-block;
  margin: .5em 1em;
}

.navContainer .nav ul li a {
  line-height: 50px;
  vertical-align: middle;
}
/* 
.navContainer .nav ul li a:after {
  display: block;
  content: '';
  width: 100%;
  position: absolute;
  bottom: -8px;
  left: 0;
  height: 2px;
  background-color: black;
  opacity: 0;
  transition: .25s all;
} */

.navContainer a:hover {
  text-decoration: none;
}

.navContainer a:hover:after {
  bottom: -1px;
  opacity: 1;
}

.navContainer a.active {
  color: #DA3237;
}


@media screen and (max-width:768) {
  body {
    padding-top:150px;
    padding: 0 .5em;
  }
  
  .container {
    padding:0 0 !important;
  }
  .form-box {
    margin: 0;
  }
}